<div class="jumbotron text-center footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-6 col-sm-3 left">
        <div class="row">
          <p>SenseForage</p>
          <p>#31-4711 Blair Drive</p>
          <p>Richmond, BC, Canada</p>
        </div>
        <div class="row">
          <p>info@senseforage.com</p>
        </div>
        <div class="row">
          <p>made by Roy Chiang</p>
        </div>
      </div>
      <div class="hidden-xs col-sm-3 right">
        <p><a href="#!/articles">Articles</a></p>
        <p><a href="#!/categories">Categories</a></p>
        <p><a href="#!/partners">Partners</a></p>
        <p><a href="#!/products">Products</a></p>
      </div>
    </div>
  </div>
</div>
