html{
	font-size: 100%;
	background-color: #fafafb;
}
body{
	font-family: 'Neuton', serif;
	font-size: 100%;
	background-color: #fafafb !important;
}
h1 {
	font-family: 'Ovo', serif;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.vertical-center {
  position: relative;
  top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.navbar {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #ffffff;
}
.brand-name {
	text-align: center;
	padding-top: 0.9em;
}
.brand-name a {
	color: black;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 2em;
	text-decoration: none;
}
.brand-name:hover{
	text-decoration: none;
}
.navbar {
	padding-bottom: 1em;
	border-bottom: 1px #DCDCDC solid;
	margin-bottom: 5px;
}
.navbar-nav > li > a {
	color: #5c5c5c;
	padding: 2em 1em 0 1em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
}

.navbar-nav .active a	 {
	color: #FF5252;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: #FFF;
}
.section1 {
	overflow: hidden;
}
.intro {
	background: url("//crosscent.s3.amazonaws.com/taipei101.jpg") no-repeat center center;
	height: 500px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hand-picked {
	background-color: #F5F5F5;
	height: 400px;
}
.hand-picked .bold {
	font-weight: 700;
	font-size: 1.5em;
}
.hand-picked .important {
	font-weight: 700;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	color: #B71C1C;
	font-size: 3em;
}
.hand-picked .italics {
	font-style: italic;
	font-size: 1em;
	font-weight: 700;
	width: 100px;
	margin: auto;
	text-align: center;
}
.newcollection {
	background-color: #B71C1C;
	height: 100px;
}
.newcollection p {
	color: #fff;
	text-align: center;
}

@media screen and (min-width:0px) and (max-width:740px) {
	.brand-name {
		margin:auto;
	}
	.intro {
		max-height: 500px;
	}
	.hand-picked {
		padding: 1em 0 1em 0;
		height: 300px;
	}
	.newcollection{
		max-height: 75px;
	}
	.navbar-nav > li > a {
		padding: 1em 0 1em 0;
	}
}

.tabs {
	margin-top: 2em;
	margin-bottom: 2em;
}

.tabs .box {
	height: 70px;
	width: 70px;
}

.tabs-left > .nav-tabs {
	border-bottom: none;
}

.tabs-left > .nav-tabs > li > a {
		margin-right: -1px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
}

.tabs-left > .nav-tabs > li > a{
		margin-right: 3px;
}

.tabs-left > .nav-tabs > li > a,
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
		border-color: #ddd;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
		border-color: #ddd;
}

@media screen and (min-width:741px) {
	.tabs-left > .nav-tabs {
	    border-bottom: 0;
	}

	.tab-content > .tab-pane,
	.pill-content > .pill-pane {
	    display: none;
	}

	.tab-content > .active,
	.pill-content > .active {
	    display: block;
	}

	.tabs-left > .nav-tabs > li{
	    float: none;
	}

	.tabs-left > .nav-tabs > li > a{
	    min-width: 74px;
	    margin-right: 0;
	    margin-bottom: 3px;
	}

	.tabs-left > .nav-tabs {
	    float: left;
	    margin-right: 19px;
	}
}

.footer {
	background: #f3fdff url('//crosscent.s3.amazonaws.com/footer.png');
	height: 300px;
	background-size: auto 300px;
	background-repeat: no-repeat;
	background-position: bottom left;
	margin-bottom: 0;
}
.footer p {
	margin: 0;
	font-size:0.8em;
}
.footer .left .row {
	margin-bottom: 1em;
}
.footer .left {
	text-align: left;
}
.footer .right {
	text-align: right;
}
.footer .right a {
	color: #000;
}
.footer .right a:hover {
	text-decoration: none;
	color: #FF5252;
}
@media screen and (min-width:0px) and (max-width:740px) {
	.footer {
		background-position: top right;
		height: 150px;
	}
	.footer .left {
		text-align: center;
	}
}
