html{
	font-size: 100%;
}
body{
	font-family: 'Gentium Book Basic', serif;
	font-size: 100%;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.brand-name {
	text-align: center;
}
.brand-name a {
	color: black;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 3em;
}
.brand-name:hover{
	text-decoration: none;
}
.navbar {
	margin-bottom: 5px;
}
.navbar-nav > li > a {
	color: #5c5c5c;
	padding: 2em 3em 0 2em;
	text-align: center;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: #fff;
}
.section1 {
	overflow: hidden;
}
.intro {
	background: url("/modules/core/img/intro.jpg");
	height: 500px;
}

.hand-picked {
	background-color: #d0d0d0;
	height: 400px;
}
.hand-picked > .vertical-center > .bold {
	font-weight: 700;
	font-size: 1.5em;
}
.hand-picked > .vertical-center > .important {
	font-weight: 700;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	color: #fff;
	font-size: 3em;
}
.hand-picked > .vertical-center > .italics {
	font-style: italic;
	font-size: 1em;
	font-weight: 700;
	width: 100px;
	margin: auto;
	text-align: center;
}
.newcollection {
	background-color: #ef3733;
	height: 100px;
}
.newcollection p {
	color: #fff;
	text-align: center;
}

@media screen and (min-width:0px) and (max-width:740px) {
	.brand-name {
		margin:auto;
	}
	.intro {
		max-height: 500px;
	}
	.hand-picked {
		padding: 1em 0 1em 0;
		height: 300px;
	}
	.newcollection{
		max-height: 75px;
	}
	.navbar-nav > li > a {
		padding: 1em 0 1em 0;
	}
}

.tabs {
	margin-top: 2em;
	margin-bottom: 2em;
}

.tabs .box {
	height: 70px;
	width: 70px;
}

.tabs-left > .nav-tabs {
	border-bottom: none;
}

.tabs-left > .nav-tabs > li > a {
		margin-right: -1px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
}

.tabs-left > .nav-tabs > li > a{
		margin-right: 3px;
}

.tabs-left > .nav-tabs > li > a,
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
		border-color: #ddd;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
		border-color: #ddd;
}

@media screen and (min-width:741px) {
	.tabs-left > .nav-tabs {
	    border-bottom: 0;
	}

	.tab-content > .tab-pane,
	.pill-content > .pill-pane {
	    display: none;
	}

	.tab-content > .active,
	.pill-content > .active {
	    display: block;
	}

	.tabs-left > .nav-tabs > li{
	    float: none;
	}

	.tabs-left > .nav-tabs > li > a{
	    min-width: 74px;
	    margin-right: 0;
	    margin-bottom: 3px;
	}

	.tabs-left > .nav-tabs {
	    float: left;
	    margin-right: 19px;
	}
}

.subscription {
	background-color: #efeeee;
	margin-bottom: 0;
}

.subscription .lead {
	font-size: 2em;
}

.mc-field-group > .email {
	border: none;
	background: white;
	height: 40px;
	width: 300px;
	padding-left: 20px;
	font-size: 1.5em;
	margin: auto;
	margin-bottom: 10px;
}
