<section data-ng-controller="ArticlesController as articleCtrl" data-ng-init="articleCtrl.findOne()">
	<div class="articles-view">
		<div class="container-fluid" data-ng-show="article.images">
			<div class="horizontalScroll">
				<div class="wrapper" data-ng-repeat="image in article.images" >
					<img class="header" data-ng-src="{{image.link}}">
					<div class="overlay">
						<p data-ng-bind="image.descript"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-sm-4 col-xs-12 left">
				<div class="row border">
					<div class="col-xs-2">
						<img class="responsive article-icon" src="//crosscent.s3.amazonaws.com/article-icon.png">
					</div>
					<div class="col-xs-10">
						<p>Articles</p>
						<p class="category">Category</p>
					</div>
				</div>
				<div class="row border">
					<div class="col-xs-12">
						<p class="bold">Excerpt</p>
						<p class="excerpt" data-ng-bind="article.excerpt"></p>
					</div>
				</div>
				<div class="row social-media">
					<div class="col-xs-12">
						<p class="bold">Share</p>
						<div class="row">
							<div class="col-xs-2"><img class="responsive sm-icon" src="//crosscent.s3.amazonaws.com/twitter-icon.png"></div>
							<div class="col-xs-10"><a class="sm-link" href="#">Twitter</a></div>
						</div>
						<div class="row">
							<div class="col-xs-2"><img class="responsive sm-icon" src="//crosscent.s3.amazonaws.com/twitter-icon.png"></div>
							<div class="col-xs-10"><a class="sm-link" href="#">Twitter</a></div>
						</div>
						<div class="row">
							<div class="col-xs-2"><img class="responsive sm-icon" src="//crosscent.s3.amazonaws.com/twitter-icon.png"></div>
							<div class="col-xs-10"><a class="sm-link" href="#">Twitter</a></div>
						</div>
						<div class="row">
							<div class="col-xs-2"><img class="responsive sm-icon" src="//crosscent.s3.amazonaws.com/twitter-icon.png"></div>
							<div class="col-xs-10"><a class="sm-link" href="#">Twitter</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-xs-12 right">
				<h1 data-ng-bind="article.name"></h1>

				<small>
					<em class="text-muted">
						Posted on
						<span data-ng-bind="article.created | date:'mediumDate'"></span>
						by
						<span data-ng-bind="article.user.displayName"></span>
					</em>
				</small>


				<div ng-bind-html="article.content"></div>

				<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == article.user._id))">
					<a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
					<a class="btn btn-primary" data-ng-click="remove();">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</div>

			</div>
		</div>
	</div>

</section>
