<section data-ng-controller="StaticsController">
	<div class="container contact">
    <h1>Reach Us</h1>
    <div class="row separate">
      <div class="col-sm-6">
        <h2>Contact us</h2>
      </div>
      <div class="col-sm-6">
        <p>+1 604 831 6276</p>
        <p>roy[at]senseforage.com</p>
        <p>Find us on facebook to stay up to date. Or follow us on instagram and Twitter to receive daily updates!</p>
      </div>
    </div>
    <div class="row separate">
      <div class="col-sm-6">
        <h2>Visit us</h2>
      </div>
      <div class="col-sm-6">
        <p>#31-4711 Blair Drive</p>
        <p>Richmond BC</p>
        <p>Canada V6X 4E6</p>
        <p>View on Google Map</p>
      </div>
    </div>
    <div class="row separate">
      <div class="col-sm-6">
        <h2>Hear from us</h2>
      </div>
      <div class="col-sm-6">
        <p>We send out monthly e-mails with updates of our artists and their current projects. Enter your e-mail to stay in touch!</p>
        <p>Subscribe</p>
      </div>
    </div>
    <div class="row separate">
      <div class="col-sm-6">
        <h2>Join us</h2>
      </div>
      <div class="col-sm-6">
        <p>We are currently looking for an developer and a designer</p>
      </div>
    </div>
	</div>
</section>
