.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.partner-edit input, .partner-edit textarea{
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: center;
  resize: none;
}

.partner-edit .logo {
  height: 10em;
  background-color: #e3e3e3;
  display: block;
  margin: 0 auto 0.5em auto;
}

.partner-edit .storename {
  font-size: 4em;
  font-weight:700;
  height: 1.5em;
  margin-bottom: 0.5em;
}

.partner-edit .slogan {
  font-size: 2em;
  font-style: italic;
  height: 1.5em;
}

.partner-edit .header {
  height: 15em;
  min-width: 100%;
  font-size: 2em;
  text-align: center;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.partner-edit .header a{
  color: black;
}
.partner-edit .special {
  font-size: 2em;
  font-weight: 700;
  color: #5d5d5d;
  text-transform: uppercase;
}
.partner-edit .spec-icon {
  font-size: 5em;
  text-align: center;
  display: block;
}
.partner-edit .spec-title{
  font-size: 2em;
  color: #5d5d5d;
  height: 1.5em;
}
.partner-edit .spec-descript{
  font-size: 1em;
  color: #5d5d5d;
  height: 10em;
  text-align: center;
}

/* partner-view css*/
.partner-view .carousel {
  display:block;
}
.partner-view .carousel .slider {
  height: 400px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.partner-view .name {
  margin: 2em 0 2em 0;
}
.partner-view .left {
  text-align: right;
}
.partner-view .logo{
  height: 60px;
}
.partner-view .title {
  text-align: center;
  margin-bottom: 1em;
}

.partner-view .wrapper {
  margin: 5px;
  background: #dddddd;
}
.partner-view .image {
  height: 250px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.partner-view .image:hover .hover {
  display: block;
}
.partner-view .hover {
  display: none;
  background: #c2a878;
  height: 250px;
}
.partner-view .wrapper a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.partner-view .spec .spec-title {
  text-align: center;
  font-weight: 300;
  padding-bottom: 5px;
  position: relative;
}
.partner-view .spec .spec-title:before {
  content: "";
  position: absolute;
  width: 25%;
  height: 1px;
  bottom: 0;
  left: 37.5%;
  border-bottom: 1px solid gray;
}
.partner-view .spec .spec-descript {
  text-align: center;
  font-size: 0.8em;
}

/* partner-list css*/
.partner-list .text {
  width: 60%;
}
.partner-list .image {
  width: 40%;
}
.partner-list .list-left .text {
  float: left;
}
.partner-list .list-left .right {
  float: right;
}
.partner-list .list-left {
  padding: 1em 0 1em 3em;
  text-align: left;
}
.partner-list .list-right {
  padding: 1em 3em 1em 0;
  text-align: right;
}
