.about .card {
  width: 400px;
  margin: auto;
  display: block;
  padding: 2em 0 2em 0;
}
.about p {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.contact h1 {
  text-align: center;
}
.contact h2, .contact p {
  font-weight: normal;
  font-size: 1em;
  margin:0;
}
.contact .separate {
  margin-bottom: 3em;
}
