<section data-ng-controller="ProductsEditController as ProductEditCtrl" data-ng-init="ProductEditCtrl.findOne()">
    <div class="page-header">
        <h1>Edit Product</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
          <form class="form-horizontal product-edit" data-ng-submit="ProductEditCtrl.update()" novalidate>
              <fieldset>
                  <div class="form-group">
                    <div class="container">
                      <div class="controls">
                        <div class="row">
                          <label>product name</label>
                          <input type="text" data-ng-model="product.name" id="name" class="form-control name" placeholder="Name" required>
                        </div>
                        <div class="row">
                          <label>product description</label>
                          <textarea data-ng-model="product.description" id="description" class="form-control description" placeholder="Description"></textarea>
                        </div>
                        <div class="row">
                          <label>product category</label>
                          <select data-ng-init="product.category.name" data-ng-model="product.category" data-ng-options="category._id as category.name for category in ProductEditCtrl.categories" id="category" class="form-control"></select>
                        </div>
                        <div class="row">
                          <label>product partner</label>
                          <select data-ng-model="product.partner" data-ng-options="partner._id as partner.name for partner in ProductEditCtrl.partners" id="partner" class="form-control"></select>
                        </div>
                        <div class="row">
                          <label>product specifications</label>
                          <p><a ng-click="ProductEditCtrl.addSpec()">add</a></p>
                          <div data-ng-repeat="spec in product.specification" class="col-sm-4">
                            <input type="text" data-ng-model="spec.title" id="title" class="form-control name" placeholder="Title">
                            <input type="text" data-ng-model="spec.descript" id="descript" class="form-control name" placeholder="Descript">
                            <p><a ng-click="ProductEditCtrl.deleteSpec($index)">delete</a></p>
                          </div>
                          <a ng-click="ProductEditCtrl.specUpdate('sm', product)">edit</a>
                        </div>
                        <div class="row">
                          <label>product images</label>
                          <p><a ng-click="ProductEditCtrl.addImage()">add</a></p>
                          <div data-ng-repeat="image in product.images" class="col-sm-4">
                            <input type="text" data-ng-model="image.link" id="link" class="form-control name" placeholder="Link">
                            <input type="text" data-ng-model="image.descript" id="descript" class="form-control name" placeholder="Descript">
                            <p><a ng-click="ProductEditCtrl.deleteImage($index)">delete</a></p>
                          </div>
                          <a ng-click="ProductEditCtrl.specUpdate('sm', product)">edit</a>
                        </div>
                        <div class="form-group">
                          <input type="submit" value="Update" class="btn btn-default">
                        </div>
                        <div data-ng-show="error" class="text-danger">
                          <strong data-ng-bind="error"></strong>
                        </div>
                      </div>
                    </div>
              </fieldset>
          </form>
      </div>
    </div>
</section>
