<section data-ng-controller="ProductsController as ProductCtrl" data-ng-init="ProductCtrl.find()">
    <div class="product-list">
      <div class="container">
        <div class="list-group">
          <div class="row">
            <div class="col-xs-12 col-sm-6 item-list" data-ng-repeat="product in products">
              <div class="wrapper">
                <a data-ng-href="#!/products/{{product._id}}">
                  <div class="image" ng-style="{'background-image':'url({{product.images.1.link}})'}" >
                    <div class="hover">
                      <p class="title vertical-center" data-ng-bind="product.name"></p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!products.$resolved || products.length">
        	No Products yet, why don't you <a href="/#!/products/create">create one</a>?
        </div>
      </div>
    </div>
</section>
