<section data-ng-controller="PartnersController as partnersCtrl">
  <div class="partner-list">
    <div class="container-fluid">
      <h1>Partners</h1>
      <div class="row" ng-class-odd="'list-left'" ng-class-even="'list-right'"data-ng-repeat="partner in partnersCtrl.partners">
        <a href="/#!/partners/{{partner._id}}"><h1 data-ng-bind="partner.name"></h1></a>
        <div class="text">
          <p data-ng-bind="partner.longDescription"></p>
        </div>
        <div class="image">
        </div>
      </div>

      <div class="alert alert-warning text-center" data-ng-hide="!partners.$resolved || partners.length">
      	No Partners yet, why don't you <a href="/#!/partners/create">create one</a>?
      </div>
    </div>
  </div>
</section>
