.product-edit input, .product-edit textarea{
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: center;
  resize: none;
}
.product-edit label {
  text-align: center;
  width: 100%;
}
.product-edit .container .row {
  padding-bottom:2em;
}
.product-edit .name {
  width: 100%;
}
.product-edit .description {
  height: 15em;
  text-align: left;
}

.product-edit .wrapper .header{
  height: 15em;
  min-width: 100%;
  font-size: 2em;
  text-align: center;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*product-view css*/

.product-view .wrapper {
  display: inline-block;
  position:relative;
}
.product-view .wrapper p {
  width: 100%;
  white-space: normal;
  color: white;
  font-size: 0.8em;
}
.product-view .wrapper .overlay{
  position:absolute;
  left:0;
  bottom:0;
  width: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 600;
  padding: 0.5em;
}
.product-view .wrapper .header {
  height: 350px;
  width: auto;
  border-image-width: 0;
}
.product-view .container-fluid {
  padding: 0;
}
.product-view .horizontalScroll {
	width: 100%; /* arbitary for demo only */
  height: 350px;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.product-view .left, .product-view .right {
  padding-top: 1.5em;
}
.product-view .left .category {
  color: #c2a878;
  font-weight: 700;
  margin: 0;
}
.product-view .left .title {
  margin: 0;
}
.product-view .left .description {
  margin-top: 2em;
}
.product-view .right .spec h2, .product-view .right .price h2 {
  color: #999999;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.product-view .right .price p {
  color: #999999;
  font-size: 0.8em;
}
.product-view .right .spec p {
  color: #c2a878;
  font-size: 0.8em;
}
.product-view .right .border {
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.product-view .social-media .row {
  padding-bottom: 0.5em;
}
.product-view .sm-icon {
  height: 25px;
}
.product-view .sm-link {
  color: #999999;
  font-size: 0.8em;
  text-transform: uppercase;
}

/* Product list css */
.product-list .wrapper {
  margin: 5px;
  background: #dddddd;
}
.product-list .image {
  height: 250px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.product-list .image:hover .hover {
  display: block;
}
.product-list .hover {
  display: none;
  background: #c2a878;
  height: 250px;
}
.product-list .wrapper a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.product-list .title {
  text-align: center;
}
